-- DropForeignKey
ALTER TABLE "ApiUsage" DROP CONSTRAINT "ApiUsage_userId_fkey";

-- DropIndex
DROP INDEX "ApiUsage_createdAt_idx";

-- AlterTable
ALTER TABLE "ApiUsage" ADD COLUMN     "model" TEXT NOT NULL DEFAULT 'gemini-2.5-flash';

-- CreateIndex
CREATE INDEX "ApiUsage_userId_createdAt_idx" ON "ApiUsage"("userId", "createdAt");

-- CreateIndex
CREATE INDEX "ApiUsage_feature_idx" ON "ApiUsage"("feature");

-- AddForeignKey
ALTER TABLE "ApiUsage" ADD CONSTRAINT "ApiUsage_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

